__pycache__/
.env
*.log
*.mp3
*.wav
*.m4a
*.xlsx
*.csv
*.json
*.zip
venv/
node_modules/
__MACOSX/
.DS_Store
cursor.json
.cursor/
cache/
tmp/

# 排除所有输出音频文件目录
20_输出文件_处理完成的音频文件/
20.1_输出文件_处理完成的音频文件/
20.1_ffpmeg输出文件_处理完成的音频文件/
20.2_ffpmeg输出文件_M4A格式音频文件/
不合格的 edgetts音频/

